/* Variables */
:root {
  --hue: 262;
  --main-primary-color: hsl(var(--hue), 70%, 55%);
  --btn-primary-color: hsl(var(--hue), 50%, 40%);
  --btn-hover-primary-color: hsl(var(--hue), 50%, 30%);
  --btn-active-primary-color: hsl(var(--hue), 80%, 80%);
  --shadow-primary-color: hsla(var(--hue), 60%, 60%, 0.5);
  --shadow-secondary-color: hsla(0, 0%, 0%, 0.235);
  --font-primary-color: hsl(0, 0%, 100%);
  --font-primary: "Open Sans", Arial, sans-serif;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--main-primary-color) white;
}

*::-webkit-scrollbar {
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--main-primary-color);
  border-radius: 1rem;
  border: 3px solid white;
}

body {
  color: var(--font-primary-color);
  font-family: var(--font-primary);
}

button {
  color: var(--font-primary-color);
}

button:hover {
  background-color: var(--btn-hover-primary-color) !important;
  cursor: pointer;
  transition: 150ms;
}

button:active {
  color: var(--main-primary-color);
  background-color: var(--btn-active-primary-color) !important;
}

a {
  color: var(--font-primary-color);
  text-decoration: none;
}

input {
  background-color: var(--font-primary-color);
}

/* Popup Styles */
.background-popup {
  width: 100%;
  transition: all 0.5s;
}

.popup-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.popup-card {
  background-color: var(--main-primary-color);
  width: max(35vw, 21.875rem);
  padding: 1.5rem;
  border-radius: 0.7rem;
}

.popup-card > h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.popup-card > input {
  width: 90%;
  height: 1.5rem;
  padding: 0.2rem;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  text-align: center;
}

.popup-card > h3 {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}

.popup-card > #requestItensListContent,
.popup-card > #requestTotalValue {
  margin-bottom: 1rem;
}

.popup-card > #requestTotalValue {
  font-size: 1.25rem;
  font-weight: 700;
}

.popup-card > button {
  width: 35%;
  background-color: var(--btn-primary-color);
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.65rem;
  border: none;
  border-radius: 0.3rem;
}

/* Header Styles */
.header {
  background-color: var(--main-primary-color);
  font-weight: 700;
  height: 4.5rem;
  width: 100%;
  box-shadow: 0px 5px 10px var(--shadow-secondary-color);
}

.header > .container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header > .container > .logo{
  font-size: min(2.5rem, 7vw);
}

.header > .container > button {
  width: 12rem;
  height: 60%;
  background-color: var(--btn-primary-color);
  font-size: 0.95rem;
  font-weight: 600;
  padding: 0.2rem;
  border: none;
  border-radius: 0.45rem;
}

/* Product Category Styles */
.products-category {
  text-align: center;
  padding: 2rem;
}

.products-category > div > h2 {
  color: var(--main-primary-color);
  font-size: 2rem;
  margin: 1.3rem 0;
}

/* Category Styles */
.category {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

/* Product Card Styles */
.product-card {
  background-color: var(--main-primary-color);
  width: 15rem;
  padding: 1rem;
  border-radius: 0.85rem;
  box-shadow: 0px 4px 15px var(--shadow-primary-color);
}

.product-image {
  margin-bottom: 1rem;
}

.product-image img {
  width: 100%;
  border-radius: 0.55rem;
  object-fit: cover;
}

.product-name {
  font-size: 1.85rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.product-description {
  margin-bottom: 1rem;
}

.product-price {
  font-size: 1.35rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.total-request {
  font-weight: 700;
  margin-bottom: 1rem;
}

.product-toolbar {
  display: flex;
  justify-content: space-between;
  height: 2rem;
  padding: 0.3rem;
  border: 0.125rem solid hsla(0, 0%, 100%, 0.5);
  border-radius: 0.55rem;
}

.product-toolbar > input {
  color: var(--main-primary-color);
  font-size: 1.35rem;
  font-weight: 700;
  text-align: center;
  padding: 0.2rem;
  border: none;
  border-radius: 0.25rem;
  width: 50%;
}

.product-toolbar > button {
  background-color: var(--btn-primary-color);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.2rem;
  border: none;
  border-radius: 0.25rem;
  width: 20%;
}

/* Footer Styles */
.footer {
  background-color: var(--main-primary-color);
}

.footer > .container {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  padding: 1rem;
}

.footer > .container > span {
  display: block;
  text-align: center;
  margin: .5rem 0;
}

/* Media Queries */
@media (max-width: 1280px) {
  .category {
    justify-content: center;
  }
}

@media (max-width: 910px) {
  .category {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .product-card {
    width: min(25rem, 70vw);
  }
}